@font-face {
    font-family: lovelace;
    src: url(/fonts/Lovelace-Script-Extrabold-trial.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }*/

#fundo {
    position: absolute;
    width: 100%;
}

header {
    width: 100%;
    height: 500px;
}

div.cabecario {
    display: flex;
    justify-content: space-around;
}

nav {
    position: relative;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 40px 90px;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;  
    text-transform: uppercase;
}

img#logo {
    position: relative;
    width: 140px;
    height: 152px;
}

div.agendamento {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

div.agendamento p{
    text-transform: uppercase;
    font-size: 65px;
    color: #fff;
    margin: 10px 0 10px 0;
}

div.agendamento button{
    width: 318px;
    height: 63px;
    border: none;
    font-size: 14px;
    background-color: #1e2f39;
}

div.agendamento button a {
    color: #fff;
    text-decoration: none;
}

div#redeSocialCabecario a ion-icon{
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 32px;
    height: 32px;
    color: #fff;
}

/* SOBRE NÓS */

